nav{
    text-align: right;
}

#box {
  width: 460px;
  padding: 20px;
  margin: auto;
  box-shadow: 1px 1px 10px grey;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

h1{
  text-align: center;
  font-size: 3rem;
  margin-top: 5px;
}

/* button  */
button {
    width: 140px;
  font-size: 1.5rem;
  color: white;
  outline: none;
  border-style: none;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-weight: 600;
  margin-left: 10px;
}
#start {
  background-color: green;
}
#pause {
  background-color: orange;
}
#reset {
  background-color: red;
}
@media (max-width:400px) {
    #box{
        width: 300px;
    }
    button{
        margin-top: 20px;
        width: 280px;
    }
}